<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="com.ashera.datetime.web"
        version="1.0">

  <name>Datetime Plugin</name>

  <platform name="browser">
  	<config-file target="config.xml" parent="/*">
      <feature name="CordovaDateTimePlugin">
        <param name="android-package" value="com.ashera.datetime.CordovaDateTimePlugin"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>
   	<framework src="core.gradle" custom="true" type="gradleReference" />
	<asset src="www/css/date-time-picker.min.css" target="css/date-time-picker.min.css" />
   	<asset src="www/js/date-time-picker.min.js" target="js/date-time-picker.min.js" />
   	<js-module src="www/js/add_res.js" name="datetimeAddRes">
    	 <runs/>
  	</js-module>
  	
  	<!-- start tsc -->
     <source-file src="tsc/src/web/widget/DatePickerImpl.ts" target-dir="tsc/src/web/widget"/>
     <source-file src="tsc/src/web/widget/TimePickerImpl.ts" target-dir="tsc/src/web/widget"/>
     <!-- tsc end -->
  </platform>
</plugin>